@import "tailwindcss";

@plugin '@tailwindcss/typography';

@source "./src/**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";
@source "@veloi.me/snippets/**/*.tsx";

@theme {
	--font-sans: Manrope VF, Manrope, ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

:root {
	color-scheme: dark;
	--twoslash-border-color: #282828 !important;
	--twoslash-underline-color: #ffc799 !important;
	--twoslash-highlighted-border: #ffc799 !important;
	--twoslash-highlighted-bg: #ffc79920 !important;
	--twoslash-popup-bg: #161616 !important;
	--twoslash-popup-color: #fff !important;
	--twoslash-popup-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px !important;
	--twoslash-docs-color: #a0a0a0 !important;
	--twoslash-docs-font: inherit !important;
	--twoslash-code-font: inherit !important;
	--twoslash-code-font-size: 1em !important;
	--twoslash-matched-color: #ffc799 !important;
	--twoslash-unmatched-color: #505050 !important;
	--twoslash-cursor-color: #ffc799 !important;
	--twoslash-error-color: #ff8080 !important;
	--twoslash-error-bg: #ff808015 !important;
	--twoslash-warn-color: #ffc799 !important;
	--twoslash-warn-bg: #ffc79915 !important;
	--twoslash-tag-color: #99ffe4 !important;
	--twoslash-tag-bg: #99ffe415 !important;
	--twoslash-tag-warn-color: #ffc799 !important;
	--twoslash-tag-warn-bg: #ffc79915 !important;
	--twoslash-tag-annotate-color: #99ffe4 !important;
	--twoslash-tag-annotate-bg: #99ffe415 !important;
}

@utility prose-invert {
	--tw-prose-body: var(--tw-prose-invert-body) !important;
	--tw-prose-headings: var(--tw-prose-invert-headings) !important;
	--tw-prose-lead: var(--tw-prose-invert-lead) !important;
	--tw-prose-links: var(--tw-prose-invert-links) !important;
	--tw-prose-bold: var(--tw-prose-invert-bold) !important;
	--tw-prose-counters: var(--tw-prose-invert-counters) !important;
	--tw-prose-bullets: var(--tw-prose-invert-bullets) !important;
	--tw-prose-hr: var(--tw-prose-invert-hr) !important;
	--tw-prose-quotes: var(--tw-prose-invert-quotes) !important;
	--tw-prose-quote-borders: var(--tw-prose-invert-quote-borders) !important;
	--tw-prose-captions: var(--tw-prose-invert-captions) !important;
	--tw-prose-kbd: var(--tw-prose-invert-kbd) !important;
	--tw-prose-kbd-shadows: var(--tw-prose-invert-kbd-shadows) !important;
	--tw-prose-code: var(--tw-prose-invert-code) !important;
	--tw-prose-pre-code: var(--tw-prose-invert-pre-code) !important;
	--tw-prose-pre-bg: var(--tw-prose-invert-pre-bg) !important;
	--tw-prose-th-borders: var(--tw-prose-invert-th-borders) !important;
	--tw-prose-td-borders: var(--tw-prose-invert-td-borders) !important;
}

.astro-code {
	background: var(--color-stone-800) !important;
}

@font-face {
	font-family: "Manrope VF";
	src: url(/assets/fonts/variable/Manrope[wght].woff2) format("woff2");
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-ExtraLight.woff2) format("woff2");
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Light.woff2) format("woff2");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Regular.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Medium.woff2) format("woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Bold.woff2) format("woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-ExtraBold.woff2) format("woff2");
	font-weight: 800;
	font-display: swap;
}

.cursor-newtab {
	cursor: url("/assets/images/new-tab.png") 10 10, pointer;
}

.animated-underline {
	background: linear-gradient(#57534e, #57534e),
		linear-gradient(to right, #a3a3a3, #a3a3a3);
	background-size: 100% 2px, 0 2px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
	.animated-underline {
		transition: 0.3s ease;
		transition-property: background-size, color, background-color, border-color;
	}
}

.animated-underline:hover,
.animated-underline:focus-visible {
	background-size: 0 2px, 100% 2px;
}
