@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
	--font-sans: Manrope VF, Manrope, ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@font-face {
	font-family: "Manrope VF";
	src: url(/assets/fonts/variable/Manrope[wght].woff2) format("woff2");
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-ExtraLight.woff2) format("woff2");
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Light.woff2) format("woff2");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Regular.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Medium.woff2) format("woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-Bold.woff2) format("woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/webfonts/Manrope-ExtraBold.woff2) format("woff2");
	font-weight: 800;
	font-display: swap;
}

.cursor-newtab {
	cursor: url("/assets/images/new-tab.png") 10 10, pointer;
}

.animated-underline {
	background: linear-gradient(#57534e, #57534e),
		linear-gradient(to right, #a3a3a3, #a3a3a3);
	background-size: 100% 2px, 0 2px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
	.animated-underline {
		transition: 0.3s ease;
		transition-property: background-size, color, background-color, border-color;
	}
}

.animated-underline:hover,
.animated-underline:focus-visible {
	background-size: 0 2px, 100% 2px;
}
