:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@font-face {
  font-family: 'Manrope VF';
  src: url(/assets/fonts/variable/Manrope[wght].woff2) format("woff2");
  font-style: normal;
  font-weight: 200 800
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-ExtraLight.woff2) format("woff2");
  font-weight: 200
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-Light.woff2) format("woff2");
  font-weight: 300
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700
}

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/webfonts/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800
}

.cursor-newtab {
  cursor: url('/assets/images/new-tab.png') 10 10, pointer;
}

.animated-underline {
  background: linear-gradient(#57534e, #57534e),
    linear-gradient(to right, #a3a3a3, #a3a3a3);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-underline {
    transition: 0.3s ease;
    transition-property: background-size, color, background-color,
      border-color;
  }
}

.animated-underline:hover,
.animated-underline:focus-visible {
  background-size: 0 2px, 100% 2px;
}

body,
html,
input {
  font-family: 'Manrope VF', Manrope;
}
