---
import FormattedDate from "./FormattedDate.astro";

type Props = {
	name: string;
	link: string;
	description: string;
	external?: boolean;
	date?: Date;
};

const { date, external, name, description, link } = Astro.props;
---

<div class="border-l-0 border-stone-800 py-2 space-y-1">
  <div class="flex justify-between gap-4 items-center">
    <a
      target={external ? "_blank" : "_self"}
      href={link}
      class:list={[
        "font-semibold animated-underline",
        { "cursor-newtab": external },
      ]}
    >
      {name}
    </a>
    {
      date && (
        <p class="text-stone-400">
          <FormattedDate date={date} />
        </p>
      )
    }
  </div>
  <p class="text-stone-300 text-balance">
    {description}
  </p>
</div>
