---
import { SITE_TITLE } from "../consts";
---

<header class="pb-2">
  <nav class="space-y-6">
    <h2 class="font-bold">
      <a class="animated-underline" href="/">{SITE_TITLE}</a>
    </h2>
  </nav>
</header>
