<div class="h-0.5 bg-stone-800"></div>
<h2>Posts</h2>

<div class="space-y-10 relative">
  <slot />
  <div
    class="absolute bottom-0 left-0 w-full to-transparent bg-gradient-to-t from-stone-900 h-32 pointer-events-none"
  >
  </div>
</div>
<div></div>
<a href="/blog" class="animated-underline">See all posts</a>
