---
import type { HTMLAttributes } from "astro/types";

const colours = {
	red: "bg-red-900 text-red-200",
	orange: "bg-orange-900 text-orange-200",
	amber: "bg-amber-900 text-amber-200",
	yellow: "bg-yellow-900 text-yellow-200",
	lime: "bg-lime-900 text-lime-200",
	green: "bg-green-900 text-green-200",
	emerald: "bg-emerald-900 text-emerald-200",
	teal: "bg-teal-900 text-teal-200",
	cyan: "bg-cyan-900 text-cyan-200",
	sky: "bg-sky-900 text-sky-200",
	blue: "bg-blue-900 text-blue-200",
	indigo: "bg-indigo-900 text-indigo-200",
	violet: "bg-violet-900 text-violet-200",
	purple: "bg-purple-900 text-purple-200",
	fuchsia: "bg-fuchsia-900 text-fuchsia-200",
	pink: "bg-pink-900 text-pink-200",
	rose: "bg-rose-900 text-rose-200",
};

type Props = {
	colour: keyof typeof colours;
} & HTMLAttributes<"div">;

const {
	colour,
	"class:list": classes,
	class: className,
	...props
} = Astro.props;
---

<div class:list={["inline-block rounded-full px-2.5 py-0.5 text-sm", colours[colour], className, classes]} {...props}>
	<slot />
</div>
