---
type Props = {
	name: string;
};

const { name } = Astro.props;
---

<div class="border bg-white border-stone-200 rounded-2xl flex flex-col">
  <div class="bg-stone-50 relative px-4 py-1.5 border-b border-stone-200 pointer-events-none select-none rounded-t-2xl">
    <div class="absolute left-3 top-1/2 -translate-y-1/2 flex gap-1.5">
      <div class="rounded-full size-3 border border-stone-300" />
      <div class="rounded-full size-3 border border-stone-300" />
      <div class="rounded-full size-3 border border-stone-300" />
    </div>

    <div class="min-w-80 px-4 border w-fit mx-auto text-center py-1 border-stone-200 rounded-full text-xs">
      <span>{name}</span>
    </div>
  </div>

  <div class="bg-white rounded-b-2xl flex-1 px-4 pt-4">
    <slot />
  </div>
</div>
